* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headline1 {
    background-color: #af7d3f;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.headline2 {
    background-color: #2a2a2a;
    color: #b18347;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 20px 50px;
}

.sidebar {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 30px;
}

.hero img {
    max-width: 100%;
}

.description-1 .header{
    font-family: 'Roboto';
    font-size: 36px;
    text-align: center;
    padding: 60px 0px 100px;
}

.description-1 .box-container {
    display: flex;
    width: 1200px;
    margin: auto;
    gap: 100px;
    text-align: center;
    padding-bottom: 60px;
}

.description-1 .icon {
    max-width: 22%;
  }
  

.description-1 .box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.description-1 .p1 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #b18347;
    font-size: 24px;
}

.description-1 .p2 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;
}


.description-2 {
    height: 300px;
    padding: 60px 750px;
    text-align: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    background-color: #e6e5db;
}